* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: #baff49;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.card {
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    width: 100%;
    max-width: 550px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.numero {
    font-size: 150px;
    color: #000000;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.botoes button {
    flex: 1;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.botao1 {
    background: #a90e0e;
    color: #fff;
}

.botao2 {
    background: #5500ff;
    color: #fff;
}

.botao3 {
    background: #15905b;
    color: #fff;
}